.insurance-bg {
  background-color: var(--c11);
}

.insurance-silver,
.insurance-gold {
  background-color: var(--c12);
  padding: 32px 32px 32px 60px;
  border-radius: 4px;
}

.insurance-plans {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px;
  align-items: center;
}

.insurance-content {
  padding-bottom: 60px;
}

#insurance .insurance-content {
  padding-bottom: 120px;
}

.insurance-title h3,
.insurance-title p {
  text-transform: uppercase;
  font-size: 2.25rem;
}

.insurance-title {
  display: flex;
  justify-content: space-between;
  padding-bottom: 32px;
}

.insurance-content h1 {
  padding-bottom: 60px;
  padding-top: 60px;
}

.insurance-plans li {
  padding-bottom: 20px;
  display: flex;
  align-items: center;
}

.insurance-plans ul {
  padding-bottom: 12px;
}

.insurance-silver a {
  background: var(--c10);
  color: var(--c4);
}

.insurance-silver a:hover {
  background: var(--c11);
}

.insurance-plans li::before {
  content: "";
  display: inline-block;
  background-image: url("/img/icones/lista.svg");
  background-repeat: no-repeat;
  width: 13px;
  height: 9px;
  margin-right: 8px;
}

@media (max-width: 800px) {
  .insurance-plans {
    grid-template-columns: 1fr;
    gap: 32px;
  }
  .insurance-content h1 {
    padding-bottom: 32px;
    padding-top: 32px;
  }
}
@media (max-width: 400px) {
  .insurance-title {
    display: grid;
    grid-template-columns: 1fr;
    gap: 8px;
  }
  .price p {
    font-size: 1.5rem;
  }
  .price {
    display: flex;
    gap: 4px;
    align-items: end;
  }
}
